<div id="question_content">
	<h1 class="title">
	<%= @question.title %>
	</h1>
	<p class="status">
	<%= @question.body %>
	</p> 
	<p class="year">
	<%= @question.year %>	
	</p>

	<p class="body">
	<%= @question.body %>
	</p> 
</div>